<!-- angular seaerches for PriceApp in our app.js in public folder-->
<html ng-app="PriceApp">

	<head>
		<title>CoinTree Price app!</title>
		<!-- from downloading from https://angularjs.org/ The script tag downloads javascript and runs it
		//doesn't get downloaded or processed by node at all.. pure browser client end -->
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="/bower_components/angular-percentage-filter/percentage.js"></script>
	</head>

	<body>
		<div ng-controller="priceCtrl">
		<p>
		Current Bitcoin Price $AUD : {{currentprice}}
		<br>
		Last Bitcoin Price $AUD : {{lastprice}}
		<br>
		BTC/$AUD Price %age change  : {{percentagechange | number:5}}%
		<!-- built n number feature another way to keep decimals to 2 places-->
		<br>
		<br>
		Price %age change Since Last App Startup : {{percentagechangestart | number:5}}%
		<br>
		<br>
		
		Price check - please enter your preferred price for Bitcoin and see a response in price difference from your price bid and the current value of bitcoin : <input type="number" ng-model="priceEntry"><br> 
		
		</p>
		<div>
		
			* Price refreshes every 30 seconds
		
		</div>
		</div>
	 <script>
	 </script>

	 <script src="/assets/js/app.js"></script>
	</body>
</html>